fieldset {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  border: none;
  background-color: rgb(233, 233, 233);
  padding: 20px;
}
legend {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  color: rgb(36, 36, 36);
  margin-top: 10px;
}

label, span, button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  color: rgb(36, 36, 36);

}
label[for="sex"]{
  grid-column: 1/3;
}
input[name="sex"],input[type="checkbox"]{
  justify-self: flex-start;
}
button {
  margin: 10px;
}
div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
}

textarea[name="comments"]{
  grid-column: 1/3;
} 